.container{
    position: relative;
    display: flex;
    padding: 30px;
    justify-content: space-around;
    border: 2px solid black;
}

.type-label{
    position: absolute;
    top: 0;
    left: 0;
}

.broadcast-container{
    position: relative;
    display: flex;
    padding: 30px;
    justify-content: space-around;
    border: 2px solid black;
}
